<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% seo title=false %}
<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - Columbus Ohio Premodern{% endif %}</title>
<link rel="stylesheet" href="{{ '/css/reset.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/props.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">
